body {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #202020;
  color: #ffffff;
}

.container {
  display: flex;
}

.paredao {
  display: flex;
  width: 100vw;
}

.header-left {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-left: 5px solid #09f;
  background-color: #0a0a0a;
  text-align: center;
  /* border: 3px solid pink; */
}
.hello {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left h2 {
  width: 80%;
  padding: 5px;
  background-color: #0a0a0a;
  padding: 10px;
  border: 3px solid rgb(255, 100, 0);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px  #0f0f0f;
  outline: 3px solid #0f0f0f;
  font-size: 1.35em;
  transition: 0.2s;
}
.header-left img {
  width: 75%;
  box-shadow: 0px 0px 10px 20px  #0f0f0f;
}
.swal-modal{
  /* background-color: #202020; */
  border: 5px solid rgb(255, 100, 0);
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
}
.swal-title{
  color: #202020;
}
.swal-text{
  color: #202020;
}
.swal-button{
  background-color: #09f;
  border: 3px solid #09f;
  color: #202020;
  transition: .2s;
}
.swal-button:hover{
  background-color: #09f;
  color: #202020;
}