body {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #202020;
  color: #ffffff;
  background-image: url(../../assets/bg_pag_grande.svg);
}
.borda_laranja {
  width: 95%;
  height: 3px;
  background-color: rgb(255, 100, 0);
  outline: 3px solid #0f0f0f;
  margin: 20px 0px;
}
.container {
  display: flex;
}

.paredao {
  display: flex;
  width: 100vw;
}

.header-left {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-left: 5px solid #09f;
  background-color: #0a0a0a;
  text-align: center;
  /* border: 3px solid pink; */
}
.hello {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left h2 {
  width: 80%;
  padding: 5px;
  background-color: #0a0a0a;
  padding: 10px;
  border: 3px solid rgb(255, 100, 0);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px  #0f0f0f;
  outline: 3px solid #0f0f0f;
  font-size: 1.35em;
  transition: 0.2s;
}
.header-left img {
  width: 75%;
  box-shadow: 0px 0px 10px 20px  #0f0f0f;
}

/* MAIN */
#pagina{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin-bottom: 50px;
}
.bv_usuario{
  padding: 15px 20px;
  border: 3px solid rgb(255, 100, 0);
  outline: 3px solid #0f0f0f;
  box-shadow: 0px 0px 0px 3px inset #0f0f0f;
  text-align: center;
  transition: 0.25s;
}
.bv_usuario:hover{
  outline: 3px solid #050505;
  box-shadow: 0px 0px 0px 3px inset #050505;
}
.bomdia_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 30px;
  border: 3px solid #09f;
  outline: 3px solid #0f0f0f;
  box-shadow: 0px 0px 0px 3px inset #0f0f0f;
  transition: 0.25s;
}
.bomdia_div:hover, .bomdia_div:hover #data_teste{
  background-color: #202020;
  outline: 3px solid #050505;
  box-shadow: 0px 0px 0px 3px inset #050505;
}
.bomdia_div:hover .borda_laranja{
  outline: 3px solid #050505;
}
.txt_boas_vindas{
  width: 100%;
  font-size: 1.25em;
  text-align: center;
}
#data_teste{
  padding: 10px;
  border: 3px solid #ae02dd;
  font-size: 2em;
  outline: 3px solid #0f0f0f;
  box-shadow: 0px 0px 0px 3px inset #0f0f0f;
  transition: 0.25s;
}
#data_teste:hover{
  outline: 3px solid #050505;
  box-shadow: 0px 0px 0px 3px inset #050505; 
}
#div_butao{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}
#div_butao a{
  width: 40%;
}
#div_butao button {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  background-color: #202020;
  color: #ffffff;
  border: 3px solid #ae02dd;
  border-radius: 5px;
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
  cursor: pointer;
  transition: 0.25s;
}
#div_butao button:hover {
  background-color: rgb(15, 15, 15);
}
#div_butao button:active {
  background-color: rgb(5, 5, 5);
  outline-color: #050505;
  box-shadow: inset 0px 0px 0px 3px rgb(5, 5, 5);
}

/* SWAL */
.swal-modal{
  /* background-color: #202020; */
  border: 5px solid rgb(255, 100, 0);
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
  text-align: center;
}
.swal-title{
  color: #202020;
}
.swal-text{
  color: #202020;
  text-align: center;
}
.swal-button{
  background-color: #09f;
  border: 3px solid #09f;
  color: #202020;
  transition: .2s;
}
.swal-button:hover{
  background-color: #09f;
  color: #202020;
}